<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Stuck Address</string>
	<string>Linear PRN</string>
	<string>Random Value</string>
	<string>Compare XOR</string>
	<string>Compare SUB</string>
	<string>Compare MUL</string>
	<string>Compare DIV</string>
	<string>Compare OR</string>
	<string>Compare AND</string>
	<string>Sequential Increment</string>
	<string>Solid Bits</string>
	<string>Block Sequential</string>
	<string>Checkerboard</string>
	<string>Bit Spread</string>
	<string>Bit Flip</string>
	<string>Walking Ones</string>
	<string>Walking Zeroes</string>
</array>
</plist>
